@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    position: relative;
    height: 100vh;
    background-color: white ;
}
body::-webkit-scrollbar {
    width: 8px; 
} 
body::-webkit-scrollbar-thumb {
background-color: #3498db; 
border-radius: 6px; 
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #2980b9;
}
.conteiner-header{
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50%;
    box-shadow: 0px 0px 3px gray;
}
.conteiner-navBar{
    display: none;
}
.conteiner-navBar a{
    display: flex;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    
    font-weight: 300;
    font-size: 1.1em;
}
.conteiner-navBar a:hover{
    color: red;
}
.fa-solid{
    color: aliceblue;
    font-size: 1.8em;
    display: block;
}
.conteiner-navBar #btn_cadastro{
    text-decoration: none;
    background-color: transparent;
    padding: 5px 30px;
    border-radius: 14px;
    border: 2px solid #0500FF;
    font-weight: 500;
    font-size: 1.2em;
    color: #0500FF;
}
.conteiner-navBar #btn_cadastro:hover{
    background-color: #0500FF;
    padding: 5px 10px;
    border-radius: 14px;
    font-weight: 500;
    font-size: 1.2em;
    color: white;
    border: 2px solid #0500FF;
    transition: .2s;
}
.logo h2{
    font-size: 1.8em;   
    line-height: 22px;
}
.logo #logo-cult{
    color: #FF0000;
}
.logo #logo-maps{
    color: #0500FF;
}
.sub-nav{
    display: flex;
    align-items: center;
    gap: 50px;
}

@media (min-width: 700px){
    .conteiner-header{
        background-color: white;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25%;
    }
    .conteiner-navBar{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .conteiner-navBar a{
        display: flex;
        align-items: center;
        gap: 30px;
        text-decoration: none;
        color: #141414;
        font-weight: 300;
        font-size: 1em;
    }
    .conteiner-navBar a:hover{
        color: red;
    }
    .conteiner-navBar #btn_cadastro{
        background-color: transparent;
        padding: 5px 30px;
        border-radius: 14px;
        border: 2px solid #0500FF;
        font-weight: 500;
        font-size: 1.2em;
        color: #0500FF;
    }
    .conteiner-navBar #btn_cadastro:hover{
        background-color: #0500FF;
        padding: 5px 30px;
        border-radius: 14px;
        font-weight: 500;
        font-size: 1.2em;
        color: white;
        border: 2px solid #0500FF;
        transition: .2s;
    }
    .logo h2{
        font-size: 1.8em;   
        line-height: 15px;
        font-weight: 700
    }
    .logo #logo-cult{
        color: #FF0000;
    }
    .logo #logo-maps{
        color: #0500FF;
    }
    .sub-nav{
        display: none;
    }
    .fa-solid{
        display: none;
        color: #141414;
        font-size: 1.8em;
    }
}
.img-carousel{
    height: 85vh;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    left: 15%;
    top: 10%;
    z-index: 999;
}
.search-container #search-box{
    width: 70vw;
    height: 30px;
    border-radius: 14px;
    border: none;
    padding: 0 40px;
    background-color: rgba(255, 255, 255, 0.397);
}
.search-container #search-box::placeholder{
    color: rgb(12, 12, 12);
    /* font-size: 1.2em; */
}
.search-container #search-box:focus{
    outline: 1px solid #0500FF;
    background-color: rgb(255, 255, 255);
    font-size: .9em;

}
.fa-solid{
    position: absolute;
    font-size: 1.3em;
    color: rgb(14, 14, 14);
    left: 95%;
}
section .conteiner-cards{
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 65vh;
    flex-wrap: nowrap;
    gap: 5px;
}
.conteiner-cards .card{
    border: 2px solid rgb(200, 213, 224);
    width: 250px;
    height: 310px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
}
.conteiner-cards .card:hover{
    transition: .5s;
    background-color: white;
    border: 2px solid white;
}
.card .img{
    background-color: #141414;
    height: 150px;
    border-radius: 10px 10px 10px 10px;
}
.card .img> img{
    background-color: #141414;  
    height: 160px;
    border-radius: 10px 10px 0 0 ;
}
.card .descricao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.moreInfo{
    background-color: #FF0000;
    color: aliceblue;
    padding: 5px 20px;
    font-size: .9em;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
}
.moreInfo:hover{
    transition: .3s;
    background-color: #ad0101;
    color: aliceblue;

}
.wrapper-tags{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    margin: 5px 0;
}
.wrapper-tags p{
    background-color: #00B107;
    padding: 1px 10px;
    border-radius: 14px;
    font-size: .8em;
    color: aliceblue;
    margin-top: 10px;
    margin: 0;
}
.cat{
    color: #0500FF;
    font-size: .8em;
    margin-bottom: 5px;
    font-weight: 500;
}
.desc{
    margin: 0;
    font-size: .8em;
    text-align: center;
    color: #3f3e3e;
    padding: 0 10px;

}
.title{
    margin: 0;
    font-size: .8em;
    text-align: center; 
    font-weight: 600;
    color: #252525;
}
.swiper {
    width: 100%;
    height: 40%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}   
.mySwiper h2{
    width: 250px;
    color: #FF0000;
    font-weight: 500;
    font-size: 1em;
    margin-top: 20px;
    margin-left: 120px;
    border: 1px solid #FF0000;
    padding: 4px;
    text-align: center;
    border-radius: 50px;
}
.modal{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content{
    background-color: #fff;
    margin: 10% auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
    max-width: 600px;
    position: relative;
    border-radius: 14px;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.9em;
}
.close:hover{
    color: red;
}
.modal h2{
    text-align: center;
    padding: 0 40px;
    font-size: 24px;
    color: #383838;
    margin-bottom: 10px;
}

.modal p{

    padding: 0 40px;
    font-size: 16px;
}
.modal .img{
    width: 100%;
    height: 50%;
}
.modal .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px 14px 0 0 ;
}
.btn-pages{
    display: flex;
    justify-content: space-around;
    gap: 0%;
}
.btn-pages #page-ofc{
    border: none;
    background-color: green;
    color: white;
    padding: 6px 20px;
    font-size: 1.1em;
    border-radius: 14px;
}
.btn-pages #page-ofc:hover{
    transition: .3s;
    background-color: rgb(0, 92, 0);

}
.btn-pages #open-maps{
    text-decoration: none;
    border: none;
    background-color: blue;
    color: white;
    padding: 6px 20px;
    text-align: start;
    font-size: 1.1em;
    border-radius: 14px;
}
.btn-pages #open-maps:hover{
    transition: .3s;
    background-color: rgb(0, 0, 182);

}
.button-content i{
    color: white;
    margin-right: 10px;
}
