body::-webkit-scrollbar {   
    width: 8px;
} 
body{
    overflow-x: hidden;
    background-color: white;
}
.conteiner-header{
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 2vw;
}
.conteiner-navBar{
    display: flex;
    align-items: center;
    gap: 30px;
}
.conteiner-navBar a{
    display: flex;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    color: #141414;
    font-weight: 300;
    font-size: calc(14px + 1 * ((100vw - 320px) / 680));
    width: max-content;
    flex-wrap: nowrap;
    background-color: white;
}
.conteiner-navBar a:hover{
    color: rgb(255, 106, 0);
}
.conteiner-navBar #btn_cadastro{
    background-color: transparent;
    padding: 1px 10px;
    border-radius: 14px;
    border: 2px solid rgb(255, 106, 0);
    font-weight: 500;
    font-size: 1em;
    color: rgb(255, 106, 0);
}
.conteiner-navBar #btn_cadastro:hover{
    background-color: rgb(255, 106, 0);
    padding: 1px 10px;
    border-radius: 14px;
    font-weight: 500;
    font-size: 1.1em;
    color: white;
    border: 2px solid rgb(255, 106, 0);
    transition: .2s;
}
.logo h2{

    font-size: 1.6em;   
    line-height: 15px;
    font-weight: 700;
}
.logo #logo-cult{
    color: black;
}
.logo #logo-maps{
    color: black;
}
.sub-nav{
    display: none;
}
.fa-solid{
    display: none;
    color: #696868;
    font-size: 1em;
}
#nav-bar{
    display: block; 
} 
.conteiner-navBar{
    display: block;
    position: static;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width:fit-content;
    z-index: 999;   
    gap: 10px;
    
}
.search-container #search-box{
    width: 20vw;
    height: 30px;
    border-radius: 14px;
    border: none;
    font-size: .9em;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.397);
    /* border: 1px solid rgb(191, 191, 191); */
    box-shadow: 0px 0px 5px rgb(255, 188, 121);
    color: rgb(134, 134, 134);
}
.search-container #search-box::placeholder{
    color: rgb(133, 133, 133);
    
}
.search-container #search-box:focus{
    outline: 1px solid rgb(172, 172, 172);
    background-color: rgb(255, 255, 255);
    font-size: .9em;
    color: #696868;
}
.categoria{
    margin: auto;
    background-color: transparent;
    width: 75vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.text-box h2{
    margin-left: 200px;
    font-size: 1.3em;
    text-align: center;    
    color: black;
}
.text-box h2 a{
    color: #0500FF;
}
.text-box h2 a:hover{
    color: #0300c2;
}
.box-categoria h1 span{
    font-size:1.2em;
    font-weight: 600;   
    color:white;
    text-align: start;
    
}

.box-categoria h1{
    width: fit-content;
    font-size: 1.4em;
    margin-right: 100px;
    font-weight: 100;
    color:black;
    
}
.box-categoria img{
    position: absolute;
    height: 80%;
    left: 85%;
    top: 20%;
}
.img-carousel{
    height: 100vh;
}
.categoria{
    height: 25vh;
    background-color: transparent;
    top: 75%;
    width: 100vw;
}
.text-box h1 div{
    color: var(--color-main);
    font-weight: 600;
    text-decoration: underline;
}

.text-box button:hover{
    transition: .3s;
    color: var(--color-main);
    box-shadow: 0 0 10px var(--color-main);
}
.slide {
    position: relative;
    width: 100vw;
    height: 100vh;
    transition: .6s;
    overflow: hidden;
    background-color: var(--color-main);
}
.image{
    width: 100vw;
    height: 100vh;
    border-radius: 8px;
    top: 58%;
}
#slide1:checked ~ .s1 { 
    margin-left: 0%;
} 
#slide2:checked ~ .s1 {
    margin-left: -33.3%;
} 

#slide3:checked ~ .s1 {
    margin-left: -66.7%;
} 
.conteiner-cards .card{
    /* background-color:rgb(244, 244, 244); */
    box-shadow: none;
}
.navigation {
    position: absolute;
    left:48%;
    display: flex;
    align-items: center;
    top: 94vh;
    
}
footer{
    background-color: rgb(255, 106, 0);
    box-shadow: 0px 0px 5px rgba(255, 106, 0, 0.482);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.conteiner-row-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row-one{
    display: flex;
    justify-content: space-between;
    gap: 40%;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.rede-sociais i{
    color: white;
    font-size: 2em;
    margin-right: 20px;
}
.rede-sociais i:hover{
    color: black;
}
.conteiner-row-one .conteiner-menu-footer{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.conteiner-menu-footer .menu-footer {
    display: flex;
    flex-direction: column;    
}
.menu-footer a{
    text-decoration: none;
    color: white;
}
.menu-footer a:hover{
    text-decoration: none;
    color: black;
}
.conteiner-row-one .destac{
    font-weight: 600;
}
.conteiner-row-one .destac:hover{
    color: white;
}
.conteiner-row-one p{
    margin-top: 20px;
    text-align: center;
}
.moreInfo{
    background-color: transparent;
    color:rgb(255, 106, 0);
    padding: 2px 20px;
    font-size: .9em;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
    width: max-content;
    border: 2px solid transparent;
    background-color:transparent;
}
.moreInfo:hover{
    transition: .3s;
    /* text-decoration: underline; */
    border: 2px solid rgb(255, 106, 0);
    border: 2px solid white;
    color: white;
}
section .conteiner-cards{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: max-content;
    flex-wrap: nowrap;
    gap: 0px;

}

.conteiner-cards .card:hover{
    transition: .5s;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(176, 167, 167);
    
}
.card .img{
    /* background-color: #141414; */
    height: 150px;
    border-radius: 10px 10px 10px 10px;
}
.card .img> img{
    /* background-color: #141414;   */
    height: 160px;
    border-radius: 10px 10px 0 0 ;
}
.card .descricao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.wrapper-tags{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    margin: 0px 0;
}
.wrapper-tags p{
    background-color: rgb(255, 106, 0);
    padding: 1px 5px;
    border-radius: 14px;
    font-size: .8em;
    color: aliceblue;
    margin-top: 5px;
    margin: 0;
}
.cat{
    color: #7927a2;
    font-size: .8em;
    margin-bottom: 1px;
    font-weight: 500;
}
.desc{
    margin: 0;
    font-size: .8em;
    text-align: center;
    color: #3f3e3e;
    padding: 0 5px;
    
}
.title{
    margin: 0;
    font-size: .8em;
    text-align: center; 
    font-weight: 600;
    color: #252525;
}
.swiper {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}   
.mySwiper h2{
    width: max-content;
    color: rgb(24, 24, 24);
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 30px;
    margin-left:160px;
    padding: 4px;
    text-align: center;
    border-radius: 50px;
}
#natal-conteiner{
    width: 100vw;
    height: fit-content;

}
#natal-conteiner h2{
    text-align: start;
    margin-left: 40px;
    font-size: 1.8rem;
}
.catalogo-natal {
    background-color: var(--color-main);
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.catalogo-natal img{
    width: min-content;
    height: 350px;
    border-radius: 14px;
    margin-left: 40px;
}
.info-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    margin-left: 80px;
    width: 500px;
}
.info-wrapper h3{
    color:white;
    font-weight: 700;
    font-size: 1.5rem;
}
.info-wrapper p{
    width:100%;
    font-size: 1rem;
    color: white    ;
}
.info-wrapper button{
    border: 2px solid white;
    background-color: var(--color-main);
    border-radius: 14px;
    color: white;
    padding: 8px 20px;
    width: fit-content;
}
.info-wrapper button:hover{ 
    background-color: rgb(194, 103, 23);
}
.btn-natal{
    display: flex;
    gap: 10px;
}
.btn-natal .btn-fav{
    border: 2px solid var(--color-main);
    background-color: #fff;
    color: var(--color-main);
}
.btn-natal .btn-fav:hover{
    border: 2px solid var(--color-main);
    color: var(--color-main);
    background-color: #dedede;
}