body::-webkit-scrollbar {   
    width: 8px;
} 
body{
    overflow-x: hidden;
    background-color: rgb(249, 221, 172);
    position: relative;
}

.conteiner-header{
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1vw;
}
.conteiner-navBar{
    display: flex;
    align-items: center;
    gap: 30px;
}
.conteiner-navBar a{
    display: flex;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    color: #141414;
    font-weight: 300;
    font-size: calc(14px + 1 * ((100vw - 320px) / 680));
    width: max-content;
    flex-wrap: nowrap;
    background-color: white;
}
.conteiner-navBar a:hover{
    color: var(--color-main);
}
.conteiner-navBar #btn_cadastro{
    background-color: transparent;
    padding: 1px 10px;
    border-radius: 14px;
    border: 2px solid var(--color-main);
    font-weight: 500;
    font-size: 1em;
    color: var(--color-main);
}
.conteiner-navBar #btn_cadastro:hover{
    background-color: var(--color-main);
    padding: 1px 10px;
    border-radius: 14px;
    font-weight: 500;
    font-size: 1.1em;
    color: white;
    border: 2px solid var(--color-main);
    transition: .2s;
}
.logo h2{

    font-size: 1.6em;   
    line-height: 15px;
    font-weight: 700;
}
.logo #logo-cult{
    color: black;
}
.logo #logo-maps{
    color: black;
}
.sub-nav{
    display: none;
}
.fa-solid{
    display: block;
    color: #696868;
    font-size: 1em;
}
#nav-bar{
    display: block; 
} 
.conteiner-navBar{
    display: block;
    position: static;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width:fit-content;
    z-index: 999;   
    gap: 10px;
    
}
.search-container #search-box{
    display: block;
    width: 20vw;
    height: 30px;
    border-radius: 14px;
    border: none;
    font-size: .9em;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.397);
    /* border: 1px solid rgb(191, 191, 191); */
    box-shadow: 0px 0px 5px rgb(255, 188, 121);
    color: rgb(134, 134, 134);
}
.search-container #search-box::placeholder{
    color: rgb(133, 133, 133);
}
.search-container #search-box:focus{
    outline: 1px solid rgb(172, 172, 172);
    background-color: rgb(255, 255, 255);
    font-size: .9em;
    color: #696868;
}
.categoria{
    margin: auto;
    background: linear-gradient(360deg, black 20%, transparent);
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: start;
    padding-left: 10%;
    align-items: center;
}

.text-box{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.text-box h2{
    margin-left: 200px;
    font-size: 1.3em;
    text-align: center;    
    color: black;
    text-shadow: 0 0 0 10px black;
}
.text-box h2 a{
    color: #0500FF;
}
.text-box h2 a:hover{
    color: #0300c2;
}
.box-categoria h1 span{
    font-size:1.2em;
    font-weight: 600;   
    color:white;
    text-align: start;
    text-shadow: 0 0 0 10px black;
}
.box-categoria h1{
    width: fit-content;
    font-size: 1.4em;
    margin-right: 100px;
    font-weight: 100;
    color:black;
    text-shadow: 0 0 0 10px black;
}
.box-categoria img{
    position: absolute;
    height: 80%;
    left: 85%;
    top: 20%;
}
.img-carousel{
    height: 100vh;
}
/* .categoria{
    height: 25vh;
    background-color: transparent;
    top: 75%;
    width: 100vw;
} */
.text-box h1 div{
    color: var(--color-main);
    font-weight: 600;
    text-decoration: underline;
    font-size: .7em;
}

.text-box button:hover{
    transition: .3s;
    color: var(--color-main);
    box-shadow: 0 0 10px var(--color-main);
}
.slide {
    position: relative;
    width: 100vw;
    height: 100vh;
    transition: .6s;
    overflow: hidden;
    background-color: var(--color-main);
}
.image{
    width: 100vw;
    height: 100vh;
    border-radius: 8px;
    top: 58%;
}
#slide1:checked ~ .s1 { 
    margin-left: 0%;
} 
#slide2:checked ~ .s1 {
    margin-left: -33.3%;
} 

#slide3:checked ~ .s1 {
    margin-left: -66.7%;
} 
.conteiner-cards .card{
    /* background-color:rgb(244, 244, 244); */
    box-shadow: none;
}
.navigation {
    position: absolute;
    left:48%;
    display: flex;
    align-items: center;
    top: 74vh;
    
}
.modal{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content{
    background-color: #fff;
    margin: 10px auto;
    padding-bottom: 30px;
    border: 1px solid #888;
    width: 90%;
    height: fit-content;
    max-height: fit-content;
    max-width: 80vw;
    position: relative;
    border-radius: 18px;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.9em;
}
.close:hover{
    color: red;
}
.modal h2{
    padding: 0 40px;
    font-size: 24px;
    color: #383838;
    margin: 20px 0;
    font-weight: 700;
}
.loc-data{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal p{
    color: #4f4f4f;
    padding: 0 40px;
    font-size: 14px;
    line-height: 30px;
}
.modal b{
    color: var(--color-main);
}
.modal-info{
    margin: auto;
    width: 80%;
}
.loc-data p{
    text-align: start;
    line-height: 30px;
}
#desc-mod b{
    color: #5b5b5b;
    font-size: 1.3rem;
}
#modal-autores{
    font-size: 1.1rem;
}
.modal .img{
    width: 100%;
    height: 40%;
}
.modal .img img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
    border-radius: 14px 14px 0 0 ;
}
.btn-pages{
    margin-top: 50px;
    display: flex;
    justify-content: end;
    gap: 10%;
}
.btn-pages #page-ofc{
    border: none;
    background-color: transparent;
    color: white;
    padding: 6px 20px; */
    border: 1px solid ;
    color: var(--color-main);
    font-size: 1.1em;
    border-radius: 14px;
    text-decoration: none;
}
.btn-pages #page-ofc i{
    background-color:var(--color-main);
    padding: 5px;
    color: white;
    border-radius: 100%;
    margin-right: 10px;
}
.btn-pages #page-ofc:hover{
    transition: .3s;
    background-color: var(--color-main);
    color: white;
    
}
.btn-pages #open-maps{
    text-decoration: none;
    border: none;
    background-color: var(--color-main);
    color: white;
    padding: 6px 20px;
    text-align: start;
    font-size: 1.1em;
    border-radius: 14px;
}
.btn-pages #open-maps:hover{
    transition: .5s;
    background-color: orangered;
    
}
.button-content i{
    color: white;
    margin-right: 10px;
}
footer{
    background-color: rgb(255, 106, 0);
    box-shadow: 0px 0px 5px rgba(255, 106, 0, 0.482);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.conteiner-row-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row-one{
    display: flex;
    justify-content: space-between;
    gap: 40%;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.rede-sociais i{
    color: white;
    font-size: 2em;
    margin-right: 20px;
}
.rede-sociais i:hover{
    color: black;
}
.conteiner-row-one .conteiner-menu-footer{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.conteiner-menu-footer .menu-footer {
    display: flex;
    flex-direction: column;    
}
.menu-footer a{
    text-decoration: none;
    color: white;
}
.menu-footer a:hover{
    text-decoration: none;
    color: black;
}
.conteiner-row-one .destac{
    font-weight: 600;
}
.conteiner-row-one .destac:hover{
    color: white;
}
.conteiner-row-one p{
    margin-top: 20px;
    text-align: center;
}
.moreInfo{
    background-color: transparent;
    color:rgb(255, 106, 0);
    padding: 2px 20px;
    font-size: .9em;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
    width: max-content;
    border: 2px solid transparent;
    background-color:transparent;
}
.moreInfo:hover{
    transition: .3s;
    text-decoration: underline;
    border: 2px solid rgb(255, 106, 0);
    border: 2px solid white;
    color: white;
}
section .conteiner-cards{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: max-content;
    flex-wrap: nowrap;
    gap: 0px;

}
.conteiner-cards .card{
    /* border: 2px solid rgb(200, 213, 224);
    border: none;
    /* height: 265px; */
    max-height: max-content;
    min-width: min-content;
    width: 100px;
    min-height: max-content;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    
    /* border:; */
}
.conteiner-cards .card:hover{
    transition: .5s;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(176, 167, 167);
    
}
.card .img{
    /* background-color: #141414; */
    height: 150px;
    border-radius: 10px 10px 10px 10px;
    margin: 0;
}
.card .img> img{
    /* background-color: #141414;   */
    height: 160px;
    border-radius: 10px 10px 0 0 ;
    margin: 0;
}
.card .descricao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0;
}

.wrapper-tags{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    margin: 0px 0;
    margin: 0;
}
.wrapper-tags p{
    background-color: rgb(255, 106, 0);
    padding: 1px 5px;
    border-radius: 14px;
    font-size: .8em;
    color: aliceblue;
    margin-top: 5px;
    margin: 0;
}
.cat{
    color: #a200f3;
    font-size: .8em;
    margin-bottom: 1px;
    font-weight: 500;
    margin: 0;
}
.desc{
    margin: 0;
    font-size: .8em;
    text-align: center;
    color: #5f5f5f;
    padding: 0 5px; 
    margin: 0;
}
.title{
    margin: 0;
    font-size: .9em;
    text-align: center; 
    font-weight: 600;
    color: #585858;
    margin: 0;
}
.swiper {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}   
.mySwiper h2{
    width: max-content;
    color: rgb(82, 82, 82);
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 50px;
    margin-left:140px;
    padding: 4px;
    text-align: center;
    border-radius: 50px;
 
}
#sessiol-natal{
    background-image: url(https://southcorp.com.br/wp-content/uploads/2018/10/sEGURO-eVENTOS-1.jpg);
    background-position: bottom;
    background-size: cover;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.natal-conteiner{
    background-color: #141414cd;
    margin: auto;
    /* min-width: fit-content; */
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;

    /* padding-right: 50px; */
    
}

.catalogo-natal {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    gap: 0%;
}

.catalogo-natal img{
    width: 60%;
    height: 400px;
    border-radius: 42px;
    padding: 20px;
    /* margin-left: 40px; */
}
.info-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    margin: 0 20px;
    margin-right: 180px;
    padding-right: 30px;
    /* width: 40%; */
}
.info-wrapper h3{
    text-align: center;
    color:rgb(240, 240, 240);
    font-weight: 700;
    margin-bottom: 24px;
    font-size: 1.5rem;
    width: max-content;

}
.info-wrapper p{
    width:100%;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 80px;
    color: rgb(211, 211, 211)    ;
}
.btn-natal{
    display: flex;
    gap: 10px;
}
.btn-natal button {
    position: relative;
    overflow: hidden;
    background-color: white; /* Degrade de laranja para laranja claro */
    color: var(--color-main);
    border: none;
    padding: 10px 20px;
    border-radius: 14px;
    cursor: pointer;
}


